section.farewell {
  width: 80vw;
  padding: 2rem;
  h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    .center {
      height: 100%;
      align-self: center;
    }
  }
  p.text {
    width: 15vw;
    height: 100%;
    background-color: $gray-light;
    padding: 2rem;
    border-radius: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .btn {
    width: 20vw;
    text-align: center;
    margin-top: 2rem;
    a {
      width: 100%;
    }
  }
}
